<html>
    <head>
        <title>Url shorter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112744306-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-112744306-1');
        </script>
        <script src="/static/js/index.js"></script>
        <script>
            function redirectAuth() {
                window.location.replace("https://www.facebook.com/v2.10/dialog/oauth?" +
                    "client_id={{ $.Config.FacebookAppID }}" +
                    "&redirect_uri={{ $.Config.FacebookLoginURL }}" +
                    "&response_type=code"
                );
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Url Shortner</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
        {{ if .User }}
                <li class="navbar-text">{{ $.User.FirstName }} {{ $.User.LastName }}</li>
                <li><button class="btn btn-danger navbar-btn" onclick="logout()">Logout</button></li>
        {{ else }}
                <li><button class="btn navbar-btn" onclick="redirectAuth()">Login with Facebook</button></li>
        {{ end }}
            </ul>
            </div>
        </nav>
        <div class="container" style="width: 50%; top: 30%; position: relative;">
            {{ with .Errors }}
            <div class="alert alert-danger">
                {{ range . }}
                <pre>{{ . }}</pre>
                {{ end }}
            </div>
            {{ end }}

