<html>
<head>
    <title>Url shorter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        function getShortUrl() {
            var payload = {
                url: document.getElementById('inputUrl').value
            };

            fetch("/link",
                {
                    method: "POST",
                    body: JSON.stringify(payload)
                })
                .then(function(res){ return res.json(); })
                .then(showShortUrl)
        }

        function showShortUrl(data) {
            if (!data.ok) {
                alert(data.error);
                return;
            }

            var link = "//" + location.hostname + '/' + data.data.short_url;
            document.getElementById('shortUrl').value = "https:" + link ;
        }

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        function statusChangeCallback(response) {
            console.log(response)
        }

    </script>
</head>
<body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ $.FacebookAppID }}',
            cookie     : true,
            xfbml      : true,
            version    : '{{  $.FacebookApiSDK  }}'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container" style="width: 50%; top: 30%; position: relative;">

    <fb:login-button
            scope="public_profile,email"
            onlogin="checkLoginState();">
    </fb:login-button>

    <div class="form-group mx-sm-3">
        <label for="inputUrl" class="sr-only">Password</label>
        <input class="form-control" id="inputUrl" placeholder="Enter URL">
        <button class="btn btn-primary" onclick="getShortUrl()" style="width: 30%; left: 35%; position: relative;">Short it!</button>
    </div>
    <input id="shortUrl" class="form-control" style="position: relative; width: 50%; left: 25%;" readonly>
</div>
</body>
</html>
