<html>
    <head>
        <title>{{ $.Name }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
            function getShortUrl() {
                var payload = {
                    url: document.getElementById('inputUrl').value
                };

                fetch("/link",
                    {
                        method: "POST",
                        body: JSON.stringify(payload)
                    })
                    .then(function(res){ return res.json(); })
                    .then(showShortUrl)
            }

            function showShortUrl(data) {
                if (!data.ok) {
                    alert(data.error);
                    return;
                }
                document.getElementById('shortUrl').value = location.hostname + '/' + data.data.short_url;
            }

        </script>
    </head>
    <body>
